<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title><%- name %> <%- lastName %></title>
    </head>
    <body>

        <h1 class="fate-header">Твоя судьба</h1>

        <div id="container" class="profile-container">
            <div class="avatar"><img src="<%- avatarUrl %> " id="avatar-img"></div>

            <div class="info">
                <a href="https://vk.com/id<%- id %> " id="name"><%- name %> <%- lastName %></a>
                <p id="profile-id">ID: <%- id %> </p>
            </div>
        </div>
    </body>
</html>